{% extends "user_panel/user_base.html" %}
{% block page_title %}Attendance{% endblock %}

{% block content %}

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 p-6 text-gray-800">
        <!-- Attendance Panel -->
        <div class="bg-white p-6 rounded-2xl shadow">
            <h2 class="text-lg font-semibold mb-4">Attendance</h2>
            <div class="bg-gray-100 p-4 rounded-lg">
                <p><strong>Today Check-in:</strong> {{ attendance.checkin }}</p>
                <p><strong>Check-out:</strong> {{ attendance.checkout|default:"Pending" }}</p>
            </div>
            <button class="w-full bg-red-700 text-white py-2 rounded-lg mt-4">Check Out</button>
        </div>
</div>
{% endblock %}
