{% extends 'admin_panel/admin_base.html' %}
{% block page_title %}Add VVIP{% endblock %}

{% block content %}
<div class="pt-10">
<div class="bg-white max-w-2xl text-gray-800 p-6 shadow border-t-4 rounded-2xl space-y-4 border-indigo-600">

    <h2 class="text-2xl font-semibold text-gray-700 mb-5">Add New VVIP</h2>

    <form method="POST">
        {% csrf_token %}
        {% include "error_message/error_message.html" %}

        <!-- Name -->
        <label class="block font-medium">Name</label>
        <input type="text" name="name" required class="w-full p-2 border rounded-lg mb-4" placeholder="Enter full name">

        <!-- Email -->
        <label class="block font-medium">Email</label>
        <input type="email" name="email" required class="w-full p-2 border rounded-lg mb-4" placeholder="Enter email">

        <!-- Password -->
        <label class="block font-medium">Password</label>
        <input type="password" name="password" required class="w-full p-2 border rounded-lg mb-4" placeholder="Enter password">

        <!-- Gender -->
        <label class="block font-medium">Gender</label>
        <select name="gender" class="w-full p-2 border rounded-lg mb-4" required>
            <option value="">-- Select Gender --</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>

        <!-- DOB -->
        <label class="block font-medium">Date of Birth(optional)</label>
        <input type="date" name="dob" class="w-full p-2 border rounded-lg mb-4">

        <!-- Designation -->
        <label class="block font-medium">Designation</label>
        <select id="designation-select" name="designation" class="w-full p-2 border rounded-lg mb-4" required>
            <option value="">-- Select --</option>
            <option value="pm">PM</option>
            {% for d in designation %}
                <option value="{{ d }}">{{ d }}</option>
            {% endfor %}
            <option value="other">Other</option>
        </select>

        <!-- Custom designation input -->
        <input type="text" id="custom-designation"
               name="custom_designation"
               placeholder="Enter custom designation"
               class="w-full p-2 border rounded-lg mb-4"
               style="display:none;">
        
        <!-- category -->
        <label class="block font-medium">Category</label>
        <select id="category" name="category" class="w-full p-2 border rounded-lg mb-4" required>
            <option value="">-- Select --</option>
            {% for c in category %}
                <option value="{{ c.id }}">{{ c.name }}</option>
            {% endfor %}
        </select>


        <!-- Submit -->
        <button type="submit"
                class="w-full py-2 bg-blue-600 text-white rounded-lg hover:bg-blue-700">
            Add VVIP
        </button>

    </form>

</div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
    const select = document.getElementById('designation-select');
    const customInput = document.getElementById('custom-designation');

    select.addEventListener('change', function () {
        if (this.value === 'other') {
            customInput.style.display = 'block';
        } else {
            customInput.style.display = 'none';
            customInput.value = '';
        }
    });
});
</script>
{% endblock %}
