{% extends 'admin_panel/admin_base.html' %}
{% block page_title %}Dashboard{% endblock %}

{% block content %}

<!-- Top Analytics Cards -->
<div class="grid grid-cols-1 md:grid-cols-4 gap-6 mb-8">

    <div class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
        <h3 class="text-gray-500">Total Users</h3>
        <p class="text-4xl font-bold text-blue-700 mt-2">42</p>
    </div>

    <div class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
        <h3 class="text-gray-500">Police Categories</h3>
        <p class="text-4xl font-bold text-indigo-700 mt-2">6</p>
    </div>

    <div class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
        <h3 class="text-gray-500">VVIP Categories</h3>
        <p class="text-4xl font-bold text-green-700 mt-2">4</p>
    </div>

    <div class="bg-white p-6 rounded-xl shadow hover:shadow-lg transition">
        <h3 class="text-gray-500">Active Duties</h3>
        <p class="text-4xl font-bold text-purple-700 mt-2">12</p>
    </div>

</div>
{% endblock %}
