<!-- admin_panel/manage_police_categories.html -->
{% extends 'admin_panel/admin_base.html' %}
{% block page_title %}Manage{% endblock %}

{% block content %}
<h1 class="text-3xl font-bold text-gray-800 mb-6">Manage Police Categories</h1>

<div class="bg-white shadow rounded-xl p-6">
    {% include "error_message/error_message.html" %}
    <div class="flex justify-between mb-4">
        <h2 class="text-xl font-semibold text-gray-700">Categories</h2>
        <a href="{% url 'add_security_category' %}" class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700">+ Add Category</a>
    </div>

    <ul class="divide-y">
        {% for category in categories %}
        <li class="py-3 flex items-center justify-between hover:bg-gray-50 px-2">
            <div>
                <span class="font-medium text-gray-700">{{ category.name }}</span>
                <p class="text-sm text-gray-500">
                    Total Personnel: {{ category.total_personnel }}
                    {% for rank, count in category.personnel_by_rank.items %}
                        | {{ rank }}: {{ count }}
                    {% endfor %}
                </p>
            </div>
            <div>
                <a href="{% url 'edit_security_category' category.id %}" class="px-3 py-1 bg-yellow-500 text-white rounded">Edit</a>
                <a href="{% url 'delete_security_category' category.id %}" class="px-3 py-1 bg-red-600 text-white rounded" onclick="return confirm('Are you sure? you want to delete it')">Delete</a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
